<!DOCTYPE html>
<html>

<head>
  <title>BoardSpace: A Space for Boards</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/classes.js"></script>
</head>

<body>
  <a href="/">Home</a>
  <input type="hidden" id="code" value="<%=boardcode%>" />
  <h1>Board <%= boardcode %></h1>
  <h2>
    <% if (canEdit) { %>
     Editor
    <% }  else {%>
      Viewer
      <% } %>
    </h2>
  <% if (canEdit) { %>
    Pen size<input type="range" min="1" max="25" value="4" id="pensize">
    Pen color <input type="color" id="color">
    <button id="clearboard">clear board </button>
    <% } %>

      <div id="drawing-goes-here"><svg width="500" height="500" id="drawing-svg"></svg></div>
</body>
<script src="/socket.io/socket.io.js"></script>
<div hidden id="canEdit" canEdit=<%=canEdit %>
  ></div>
<script src="/javascripts/BoardEditor.js"></script>

</html>