<!DOCTYPE html>
<html>
  <head>
    <title>BoardSpace: A Space for Boards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <input type="hidden" id="code" value="<%=boardcode%>" />
    <h1>ur board</h1>
    <p>
      code: <%= boardcode %>
    </p>
    <p>
      can edit: <%= canEdit %>
    </p>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    const code = document.getElementById("code").value;
    socket.emit('join', {code: code});
    socket.on('joindata', function(data) {
      console.log(data);
    });
    socket.emit('change', {code: code});
    socket.on('change', function(data) {
      console.log(data);
    });
  </script>
</html>
