<!DOCTYPE html>
<html>

<head>
  <title>BoardSpace: A Space for Boards</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/constants.js"></script>
  <script src="/javascripts/classes.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <a href="/">Home</a>
  <input type="hidden" id="code" value="<%=boardcode%>" />
  <h1>Board <span id="bcode">
      <%= boardcode %>
    </span> <button id="Copy"> Copy </button></h1>
  <h2>
    <% if (canEdit) { %>
      Editor
      <% } else {%>
        Viewer
        <% } %>
  </h2>
  <% if (canEdit) { %>
    Pen size<input type="range" min="1" max="25" value="4" id="pensize">
    Pen color <input type="color" id="color">
    <button id="clearboard">clear board </button>
    <% } %>

      <div id="drawing-goes-here"><svg id="drawing-svg"></svg></div>
      <div>
        <input class="tool" type="button" value="Pen" id="selected">
        <input class="tool" type="button" value="Eraser">
        <input class="tool" type="button" value="tool2">
      </div>
      <div>
        <input id="undo" type="button" value="Undo">
        <input id="redo" type="button" value="Redo">
      </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<div hidden id="canEdit" canEdit=<%=canEdit %>
</div>
<script src="/javascripts/BoardEditor.js"></script>

</html>