<!DOCTYPE html>
<html>
  <head>
    <title>BoardSpace: A Space for Boards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ur board</h1>
    <p>
      code: <%= boardcode %>
    </p>
    <p>
      can edit: <%= canEdit %>
    </p>
  </body>
</html>
