<!DOCTYPE html>
<html>
  <head>
    <title>BoardSpace: A Space for Boards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create a new board</h1>
    <p>
      <form action="/createboard" method="POST">
        <label for="password">Password:</label>
        <input name="password" autocomplete="off" />
        <input name="submit" type="submit" value="Create" />
      </form>
    </p>
  </body>
</html>
