<!DOCTYPE html>
<html>
  <head>
    <title>BoardSpace: A Space for Boards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Join password protected board</h1>
    <p>
      <form action="/joinboard" method="POST">
        <input name="code" type="hidden" value="<%= code %>" />
        <input name="password" />
        <input name="submit" type="submit" value="Join as editor" />
      </form>
      <form action="/joinboard" method="POST">
        <input name="code" type="hidden" value="<%= code %>" />
        <input name="submit" type="submit" value="Join as viewer" />
      </form>
    </p>
  </body>
</html>
