body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.digit {
  width : 20px;
}

#drawing-svg {
  border: solid 1px black;
}

#selected {
  background-color: black;
  color: white;
}

.nohighlight::selection {
  background-color: transparent;
}

svg * { pointer-events: all;}