body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.digit {
  width : 20px;
}

#drawing-svg {
  border: solid 1px black;
}

#selected {
  background-color: black;
  color: white;
}

.svg-selected {
  border: 3px dashed #58f;
  outline: 3px dashed #58f;
}

.textEnabled {
  border: 3px dashed #58f;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: pre-wrap;
}

svg * { pointer-events: all;}