body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #FFF;
}

.digit {
  width : 20px;
}

#drawing-svg {
  border: solid 1px black;
}

#selected {
  color: #674ea9;
  background-color: #FFF;
  border-width: 1px;
}

.tool-button {
  background-color: #674ea9;
  color: #FFF;
  border: none;
  outline: none;
  margin-bottom: 2px;
}

.svg-selected {
  border: 3px dashed #58f;
  outline: 3px dashed #58f;
}

.textEnabled {
  border: 3px dashed #58f;
}

.textWrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg * { pointer-events: all;}

.vert-center {
  margin-top: auto;
  margin-bottom: auto;
}

.box {
  border-radius: 25px;
  background-color: #b4a7d5;
  padding: 4px;
  box-shadow: 0px 4px 4px #000;
  font-family: "Anton", sans-serif;
  max-width: 50em;
}


.button {
  border-radius: 5px;
  box-shadow: 0px 8px 4px #000;
  background-color: #b4a7d5;
  border-color: None;
  border-width: 0px;
  color: #FFF;
  margin-top: 6px;
  font-family: "Anton", sans-serif;
  padding-left: 6px;
  padding-right: 6px;
}

.button:hover {
  transition: 0.4s;
  box-shadow: 0px 4px 4px #000;
  background-color: #674ea9;
}

.subbutton {
  color:#FFF;
  background-color: transparent;
  outline: none;
  border: transparent;
}

.subbutton:hover {
  transition: 0.4s;
  color: #674ea9;
  background-color: #FFF;
}

.large-text {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  color: #FFF;
}

.med-text {
  font-family: "Anton", sans-serif;
  font-size: 25px;
  color: #FFF;
}

.sm-text {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  color: #FFF;
}

.field {
  background-color: #666666;
  border-width: 0;
  border-radius: 3px;
  font-family: "Anton", sans-serif;
  color: #FFF;
  font-size: 25px;
  max-width: 50vw;
  min-width: 35px;
}


.board {
  border-color: #FFF;
  background-color: #FFF;
}

.primary-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
  width: 17px;
  height: 25px;
  background: #666666;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  cursor: pointer;
  -webkit-appearance: none;
}

.title {
  font-family: "Anton", sans-serif;
  fill: #FFF; 
  font-size: 60px;
  text-shadow: 0px 8px #000000;
}

.textDiv {
  outline:none;
}
.textDiv:empty:before {
  content:'Click to edit';
  color:gray;
}